.instagram {display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.bildekontainer {
  position: relative;
  top: 0;
  left: 0;
  display: inline;  
 }

.insta {
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0;
  margin: auto;
  z-index: 3;
}
.insta:hover {opacity: 0.5;}

 